body {
    margin: 0px;
}

.header, .footer {
    background-color: #1F2937;
}

.header {
    padding: 50px;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -50px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.bottom-text {
    
}

.bottom-image {
    height: 200px;
    width: 600px;
    border: solid white;
    background-color: gray;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: white;
}

.footer {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    flex: auto;
}

button {
    background-color: #3882f6;
    border-color: #3882f6;
    color: #E5E7EB;
    border-radius: 10px;
    height: 30px;
    width: 100px;
}